
.search {
    .search_custom{
        position: relative;
        display: flex;
        align-items: center;

        .inputSearch{
            overflow: hidden;
            padding: 6px;
            width: 0;
            transition: all 0.5s;
            border:1px solid transparent;
            background: transparent;
            opacity: 0;
            outline: 0;
            border-radius: 5px;
            &.active{
                border:1px solid #d8d8d8;
                width: 256px;
                opacity: 1;
            }
        }
        .searchButton{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}





.customScrollbar {
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #eee;
        border-radius: 10px;
        height: 20px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
